In [3]:
import numpy as np
import pandas as pd

In [4]:
data=pd.read_csv('C:/Users/aduttagu/Desktop/Msc-Thesis/LCL-FullData/CC_LCL-FullData.csv')

In [5]:
data.head(100)

        LCLid stdorToU                     DateTime KWH/hh (per half hour)
0   MAC000002      Std  2012-10-12 00:30:00.0000000                      0
1   MAC000002      Std  2012-10-12 01:00:00.0000000                      0
2   MAC000002      Std  2012-10-12 01:30:00.0000000                      0
3   MAC000002      Std  2012-10-12 02:00:00.0000000                      0
4   MAC000002      Std  2012-10-12 02:30:00.0000000                      0
..        ...      ...                          ...                     ...
95  MAC000002      Std  2012-10-14 00:30:00.0000000                  0.166
96  MAC000002      Std  2012-10-14 01:00:00.0000000                  0.226
97  MAC000002      Std  2012-10-14 01:30:00.0000000                  0.088
98  MAC000002      Std  2012-10-14 02:00:00.0000000                  0.126
99  MAC000002      Std  2012-10-14 02:30:00.0000000                  0.082

[100 rows x 4 columns]

In [6]:
data.LCLid.unique()

array(['MAC000002', 'MAC000003', 'MAC000004', ..., 'MAC005557',
       'MAC005564', 'MAC005565'], dtype=object)

In [7]:
data.describe()

,LCLid,stdorToU,DateTime,KWH/hh (per half hour)
count,167932474,167932474,167932474,167932474
unique,5566,2,40405,7527
top,MAC000145,Std,2012-11-20 00:00:00.0000000,0
freq,39752,134148703,11062,2002920

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167932474 entries, 0 to 167932473
Data columns (total 4 columns):
 #   Column                   Dtype
---  ------                   -----
 0   LCLid                    object
 1   stdorToU                 object
 2   DateTime                 object
 3   KWH/hh (per half hour)   object
dtypes: object(4)
memory usage: 5.0+ GB

In [9]:
#### converting datatime
from datetime import datetime as dt 
format_str = '%Y-%m-%d %H:%M:%S.%f'
data['DateTime']=pd.to_datetime(data['DateTime'], format=format_str)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167932474 entries, 0 to 167932473
Data columns (total 4 columns):
 #   Column                   Dtype
---  ------                   -----
 0   LCLid                    object
 1   stdorToU                 object
 2   DateTime                 datetime64[ns]
 3   KWH/hh (per half hour)   object
dtypes: datetime64[ns](1), object(3)
memory usage: 5.0+ GB

In [11]:
#### renaming coloumn as it is too big
data.rename(columns={'KWH/hh (per half hour)': 'KWH_hh'})

               LCLid stdorToU            DateTime KWH/hh (per half hour)
0          MAC000002      Std 2012-10-12 00:30:00                      0
1          MAC000002      Std 2012-10-12 01:00:00                      0
2          MAC000002      Std 2012-10-12 01:30:00                      0
3          MAC000002      Std 2012-10-12 02:00:00                      0
4          MAC000002      Std 2012-10-12 02:30:00                      0
...              ...      ...                 ...                     ...
167932469  MAC005565      ToU 2012-06-21 05:30:00                  1.022
167932470  MAC005565      ToU 2012-06-21 06:00:00                  0.188
167932471  MAC005565      ToU 2012-06-21 06:30:00                  0.073
167932472  MAC005565      ToU 2012-06-21 07:00:00                  0.025
167932473  MAC005565      ToU 2012-12-19 12:32:41                    Null

[167932474 rows x 4 columns]

In [12]:
data.head()

       LCLid stdorToU            DateTime KWH/hh (per half hour)
0  MAC000002      Std 2012-10-12 00:30:00                      0
1  MAC000002      Std 2012-10-12 01:00:00                      0
2  MAC000002      Std 2012-10-12 01:30:00                      0
3  MAC000002      Std 2012-10-12 02:00:00                      0
4  MAC000002      Std 2012-10-12 02:30:00                      0

In [13]:
print(data.columns)

Index(['LCLid', 'stdorToU', 'DateTime', 'KWH/hh (per half hour) '], dtype='object')

In [14]:
data.columns = ['LCLid', 'stdorToU', 'DateTime', 'KWH/hh']
print(data.columns)

Index(['LCLid', 'stdorToU', 'DateTime', 'KWH/hh'], dtype='object')

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167932474 entries, 0 to 167932473
Data columns (total 4 columns):
 #   Column    Dtype
---  ------    -----
 0   LCLid     object
 1   stdorToU  object
 2   DateTime  datetime64[ns]
 3   KWH/hh    object
dtypes: datetime64[ns](1), object(3)
memory usage: 5.0+ GB

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167932474 entries, 0 to 167932473
Data columns (total 4 columns):
 #   Column    Dtype
---  ------    -----
 0   LCLid     object
 1   stdorToU  object
 2   DateTime  datetime64[ns]
 3   KWH/hh    object
dtypes: datetime64[ns](1), object(3)
memory usage: 5.0+ GB

In [17]:
data.dropna(subset=["KWH/hh"], inplace=True)

In [18]:
print(data.isnull().sum())

LCLid       0
stdorToU    0
DateTime    0
KWH/hh      0
dtype: int64

In [19]:
### replacing null values with nan
data = data.replace('Null', np.nan)

In [20]:
## printing them
print(data.isnull().sum())

LCLid          0
stdorToU       0
DateTime       0
KWH/hh      5560
dtype: int64

In [21]:
## dropping nan values
data.dropna(subset=["KWH/hh"], inplace=True)

In [22]:
## rechecking nan values
print(data.isnull().sum())

LCLid       0
stdorToU    0
DateTime    0
KWH/hh      0
dtype: int64

In [23]:
## making KWH/hh float type
data['KWH/hh'] = data['KWH/hh'].astype(float)

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 167926914 entries, 0 to 167932472
Data columns (total 4 columns):
 #   Column    Dtype
---  ------    -----
 0   LCLid     object
 1   stdorToU  object
 2   DateTime  datetime64[ns]
 3   KWH/hh    float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 6.3+ GB

In [25]:
## checking kwh avg per LCLid
avg_kwh = data.groupby('LCLid')['KWH/hh'].mean()
print(avg_kwh)

LCLid
MAC000002    0.252562
MAC000003    0.397666
MAC000004    0.035383
MAC000005    0.095388
MAC000006    0.059471
               ...
MAC005562    0.218019
MAC005564    0.083904
MAC005565    0.131591
MAC005566    0.363100
MAC005567    0.108561
Name: KWH/hh, Length: 5561, dtype: float64

In [26]:
## checking min,max,mean value of avg
min_avgkwh = avg_kwh.min()
max_avgkwh = avg_kwh.max()
avg_avgkwh = avg_kwh.mean()

In [27]:
## checking min,max,mean value of avg
print(min_avgkwh, max_avgkwh, avg_avgkwh)

0.0 2.111051826208848 0.2128946237933304

In [28]:
## checking min,max,mean value of avg (setting boundaries)
KWH_less_than_009 = (avg_kwh < 0.09).sum()
KWH_more_than_135 = (avg_kwh > 1.35).sum()

# print the results
print(KWH_less_than_009, KWH_more_than_135)

879 10

In [29]:
min_kwh = data['KWH/hh'].min()
max_kwh = data['KWH/hh'].max()
avg_kwh = data['KWH/hh'].mean()
print(min_kwh, max_kwh, avg_kwh)

0.0 10.7609997 0.21176300941483434

In [30]:
KWH_less_than_06 = (data['KWH/hh'] < 0.6).sum()
KWH_more_than_36 = (data['KWH/hh'] > 3.6).sum()
print(KWH_less_than_06, KWH_more_than_36)

155783331 57339

In [31]:
data2 = data

In [32]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 167926914 entries, 0 to 167932472
Data columns (total 4 columns):
 #   Column    Dtype
---  ------    -----
 0   LCLid     object
 1   stdorToU  object
 2   DateTime  datetime64[ns]
 3   KWH/hh    float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 6.3+ GB

In [33]:
data2 = data2.drop(data2[(data2['KWH/hh'] < 0.5) | (data2['KWH/hh'] > 4)].index)
data2 = data2.reset_index(drop=True)

In [34]:
data2.describe()

                            DateTime        KWH/hh
count                       15874386  1.587439e+07
mean   2013-04-03 17:23:24.119050240  9.205397e-01
min              2011-11-23 11:30:00  5.000000e-01
25%              2012-11-18 08:30:00  6.060000e-01
50%              2013-03-11 23:30:00  7.680000e-01
75%              2013-10-06 08:00:00  1.070000e+00
max              2014-02-28 00:00:00  4.000000e+00
std                              NaN  4.602780e-01

In [35]:
print(data2.LCLid)

0           MAC000002
1           MAC000002
2           MAC000002
3           MAC000002
4           MAC000002
              ...
15874381    MAC005564
15874382    MAC005564
15874383    MAC005564
15874384    MAC005564
15874385    MAC005565
Name: LCLid, Length: 15874386, dtype: object

In [36]:
counts = data2.groupby('LCLid')['KWH/hh'].count()
print(counts)

LCLid
MAC000002    2406
MAC000003    5893
MAC000004      31
MAC000005     539
MAC000006      60
             ...
MAC005562    2063
MAC005564     280
MAC005565       1
MAC005566    7407
MAC005567     469
Name: KWH/hh, Length: 5517, dtype: int64

In [37]:
#transferring for data cleaning
data3 = data

In [38]:
# droping rows as per limits set
Yavg_kwh = data3.groupby('LCLid')['KWH/hh'].mean()

# drop rows where the average 'KWH/hh' is less than 0.09 or more than 1.35
to_drop = Yavg_kwh[(Yavg_kwh < 0.09) | (Yavg_kwh > 1.35)].index
data3 = data3[~data3['LCLid'].isin(to_drop)]

# reset the index of the dataframe
data3 = data3.reset_index(drop=True)

In [39]:
# counting readings
count_s = data3.groupby('LCLid')['KWH/hh'].count()
print(count_s)

LCLid
MAC000002    24157
MAC000003    35468
MAC000005    30526
MAC000007    25045
MAC000008    26012
             ...
MAC005561    27588
MAC005562    31699
MAC005565       44
MAC005566    24640
MAC005567    20896
Name: KWH/hh, Length: 4672, dtype: int64

In [40]:
# checking drop values existance
exists = "MAC000004" in data3['LCLid'].values
print(exists)

False

In [41]:
data3.LCLid.count()

141063817

In [42]:
# checking grouped statistics
grouped_data3 = data3.groupby('LCLid')

# calculate the median, average, sum, highest, and lowest energy consumption for each 'LCLid'
median_consumption = grouped_data3['KWH/hh'].median()
average_consumption = grouped_data3['KWH/hh'].mean()
sum_consumption = grouped_data3['KWH/hh'].sum()
highest_consumption = grouped_data3['KWH/hh'].max()
lowest_consumption = grouped_data3['KWH/hh'].min()

In [43]:
# checking grouped statistics
# print the results
print('Energy consumption median:')
print(median_consumption)

print('Energy consumption average:')
print(average_consumption)

print('Energy consumption sum:')
print(sum_consumption)

print('Highest recorded energy consumption:')
print(highest_consumption)

print('Lowest recorded energy consumption:')
print(lowest_consumption)

Energy consumption median:
LCLid
MAC000002    0.158
MAC000003    0.166
MAC000005    0.041
MAC000007    0.115
MAC000008    0.296
             ...
MAC005561    0.094
MAC005562    0.170
MAC005565    0.114
MAC005566    0.163
MAC005567    0.062
Name: KWH/hh, Length: 4672, dtype: float64
Energy consumption average:
LCLid
MAC000002    0.252562
MAC000003    0.397666
MAC000005    0.095388
MAC000007    0.197805
MAC000008    0.363102
               ...
MAC005561    0.152001
MAC005562    0.218019
MAC005565    0.131591
MAC005566    0.363100
MAC005567    0.108561
Name: KWH/hh, Length: 4672, dtype: float64
Energy consumption sum:
LCLid
MAC000002     6101.138001
MAC000003    14104.433003
MAC000005     2911.808000
MAC000007     4954.016999
MAC000008     9445.007000
                 ...
MAC005561     4193.402000
MAC005562     6910.988999
MAC005565        5.790000
MAC005566     8946.788999
MAC005567     2268.484999
Name: KWH/hh, Length: 4672, dtype: float64
Highest recorded energy consumption:
LCLid
MAC000002    2.994
MAC000003    3.921
MAC000005    1.979
MAC000007    3.784
MAC000008    3.581
             ...
MAC005561    1.886
MAC005562    1.879
MAC005565    1.022
MAC005566    3.936
MAC005567    1.528
Name: KWH/hh, Length: 4672, dtype: float64
Lowest recorded energy consumption:
LCLid
MAC000002    0.000
MAC000003    0.007
MAC000005    0.010
MAC000007    0.015
MAC000008    0.000
             ...
MAC005561    0.017
MAC005562    0.008
MAC005565    0.010
MAC005566    0.034
MAC005567    0.027
Name: KWH/hh, Length: 4672, dtype: float64

In [44]:
# Adding days for better K-Means evaluation
data3['Days'] = data3['DateTime'].dt.dayofweek.map({0:1, 1:2, 2:3, 3:4, 4:5, 5:6, 6:7})
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141063817 entries, 0 to 141063816
Data columns (total 5 columns):
 #   Column    Dtype
---  ------    -----
 0   LCLid     object
 1   stdorToU  object
 2   DateTime  datetime64[ns]
 3   KWH/hh    float64
 4   Days      int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 5.3+ GB

In [45]:
group_days = data3.groupby(['LCLid', 'Days'])['KWH/hh'].mean()

# find the weekday with the highest and lowest average energy consumption for each unique 'LCLid' group
highest_avg = group_days.groupby(level='LCLid').idxmax()
lowest_avg = group_days.groupby(level='LCLid').idxmin()

# print the result
print('Weekday with highest average energy consumption:')
print(highest_avg)
print('\nWeekday with lowest average energy consumption:')
print(lowest_avg)

Weekday with highest average energy consumption:
LCLid
MAC000002    (MAC000002, 7)
MAC000003    (MAC000003, 1)
MAC000005    (MAC000005, 1)
MAC000007    (MAC000007, 6)
MAC000008    (MAC000008, 7)
                  ...
MAC005561    (MAC005561, 2)
MAC005562    (MAC005562, 7)
MAC005565    (MAC005565, 3)
MAC005566    (MAC005566, 2)
MAC005567    (MAC005567, 5)
Name: KWH/hh, Length: 4672, dtype: object

Weekday with lowest average energy consumption:
LCLid
MAC000002    (MAC000002, 1)
MAC000003    (MAC000003, 7)
MAC000005    (MAC000005, 4)
MAC000007    (MAC000007, 1)
MAC000008    (MAC000008, 6)
                  ...
MAC005561    (MAC005561, 5)
MAC005562    (MAC005562, 5)
MAC005565    (MAC005565, 4)
MAC005566    (MAC005566, 6)
MAC005567    (MAC005567, 4)
Name: KWH/hh, Length: 4672, dtype: object

In [46]:
unique_count = data3['LCLid'].nunique()
print("Number of unique LCLids:", unique_count)

Number of unique LCLids: 4672

In [78]:
highest_avg_values = np.array([tup[1] for tup in highest_avg.values], dtype=object)
lowest_avg_values = np.array([tup[1] for tup in lowest_avg.values], dtype=object)

In [81]:
# create a new dataframe with the required features
kmeans_data = pd.DataFrame({
    'median_consumption': median_consumption,
    'average_consumption': average_consumption,
    'sum_consumption': sum_consumption,
    'highest_consumption': highest_consumption,
    'lowest_consumption': lowest_consumption,
    'weekday with highest_avg': highest_avg_values,
    'weekday with lowest_avg': lowest_avg_values
})

In [83]:
kmeans_data

,median_consumption,average_consumption,sum_consumption,highest_consumption,lowest_consumption,weekday with highest_avg,weekday with lowest_avg
LCLid,,,,,,,
MAC000002,0.158,0.252562,6101.138001,2.994,0.000,7,1
MAC000003,0.166,0.397666,14104.433003,3.921,0.007,1,7
MAC000005,0.041,0.095388,2911.808000,1.979,0.010,1,4
MAC000007,0.115,0.197805,4954.016999,3.784,0.015,6,1
MAC000008,0.296,0.363102,9445.007000,3.581,0.000,7,6
...,...,...,...,...,...,...,...
MAC005561,0.094,0.152001,4193.402000,1.886,0.017,2,5
MAC005562,0.170,0.218019,6910.988999,1.879,0.008,7,5
MAC005565,0.114,0.131591,5.790000,1.022,0.010,3,4
MAC005566,0.163,0.363100,8946.788999,3.936,0.034,2,6
MAC005567,0.062,0.108561,2268.484999,1.528,0.027,5,4

In [84]:
# standardize the data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
kmeans_data_scaled = scaler.fit_transform(kmeans_data)

In [85]:
# apply KMeans algorithm to divide the LCLIDs into 18 groups
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=18, random_state=42)
kmeans.fit(kmeans_data_scaled)

c:\Users\aduttagu\.conda\envs\pyTut\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
c:\Users\aduttagu\.conda\envs\pyTut\lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=19.
  warnings.warn(

KMeans(n_clusters=18, random_state=42)

In [86]:
# add cluster labels to the dataframe
kmeans_data['cluster'] = kmeans.labels_

# print the number of LCLIDs in each cluster
print(kmeans_data['cluster'].value_counts())

cluster
1     584
16    532
7     446
9     426
11    366
4     354
14    281
6     264
15    228
0     218
13    195
3     191
5     161
17    146
12    108
8      87
2      65
10     20
Name: count, dtype: int64

In [87]:
kmeans_data

,median_consumption,average_consumption,sum_consumption,highest_consumption,lowest_consumption,weekday with highest_avg,weekday with lowest_avg,cluster
LCLid,,,,,,,,
MAC000002,0.158,0.252562,6101.138001,2.994,0.000,7,1,11
MAC000003,0.166,0.397666,14104.433003,3.921,0.007,1,7,17
MAC000005,0.041,0.095388,2911.808000,1.979,0.010,1,4,14
MAC000007,0.115,0.197805,4954.016999,3.784,0.015,6,1,11
MAC000008,0.296,0.363102,9445.007000,3.581,0.000,7,6,4
...,...,...,...,...,...,...,...,...
MAC005561,0.094,0.152001,4193.402000,1.886,0.017,2,5,9
MAC005562,0.170,0.218019,6910.988999,1.879,0.008,7,5,16
MAC005565,0.114,0.131591,5.790000,1.022,0.010,3,4,14
MAC005566,0.163,0.363100,8946.788999,3.936,0.034,2,6,17
MAC005567,0.062,0.108561,2268.484999,1.528,0.027,5,4,1